<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js</title>
</head>
<body>
    <main>
        <input type="search" v-model="busqueda" placeholder="buscar juego">
        <ul>
            <li v-for="juego in buscarJuego">
                {{juego.titulo}}
            </li>
        </ul>
        <input type="range" min="0" max="10" v-model="minimo">
        <pre>{{$data}}</pre>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>
