<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
</head>
<body>
<div id="app">
<form @submit.prevent="enviarMensaje">
    <textarea v-model="mensaje" name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
    <br>
    <input type="submit" value="Enviar mensaje">
</form>
<hr>
<h1>Mensajes</h1>
<ul>
    <li v-for="mensaje in mensajes">{{mensaje.mensaje}}</li>
    <small><i>({{mensaje.username}}</i></small>
</ul>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.0.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyC8ui4VsJ5ddNL-qkScRn_gjXK1takzj14",
    authDomain: "curso-vue-firebase-94bd2.firebaseapp.com",
    databaseURL: "https://curso-vue-firebase-94bd2.firebaseio.com",
    projectId: "curso-vue-firebase-94bd2",
    storageBucket: "curso-vue-firebase-94bd2.appspot.com",
    messagingSenderId: "425142432640"
  };
  firebase.initializeApp(config);
  //Guardar una referencia a la base de datos
  var db = firebase.database();
  //Guardar info de perfil
  /*db.ref('/perfiles/LuisVergara').set({
      username:'LuisVergara',
      password:'6679',
      ciudad:'Bogota',
      pais:'España'
  }).then(()=>console.info('Datos Añadidos'));*/
 //Guardar nuevos datos anidados (lista)
 /*document.getElementById('formulario').onsubmit=function(event)
 {
     event.preventDefault();
     let mensaje = document.getElementById('mensaje');
     db.ref('chats').push({
         username:'LuisVergara',
         mensaje:mensaje.value,
     }).then(()=>{
         console.info('Mensaje enviado');
         mensaje.value='';
     })
 }*/
 //Vue stuff
 new Vue({
     el:'#app',
     created(){
         db.ref('/chats')
            .on('value',snapshot =>this.cargarMensajes(snapshot.val()))
     },
     data:{
         mensaje:null,
         username:'LuisVergara',
         mensajes:[],
     },
     methods:{
         cargarMensajes(mensajes){
            this.mensajes=[];
             for(let key in mensajes){
                this.mensajes.push({
                    mensaje:mensajes[key].mensaje,
                    username:mensajes[key].username,
                });
             }
         },
         enviarMensaje(){
             db.ref('/chats')
             .push({
                 mensaje:this.mensaje,
                 username:this.username,
             }).then((data)=>{
                 this.mensaje='';
                 console.log(data.key)
                });
         }
     }
 })
</script>
</body>
</html>