<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js</title>
</head>
<body>
    <main>
        <candidato v-for="candidato in candidatos" :nombre="candidato.name.first" :correo="candidato.email" :imagen="candidato.picture.thumbnail">

        </candidato>
        <pre>{{$data}}</pre>
    </main>
    <template id="candidato-template">
        <blockquote>
            <img :src="imagen" align="right">
            <h1>{{nombre}}</h1>
            <h2>{{correo}}</h2>
            <ul>
                <li v-for="(value, key, index) in location">
                    {{value}}
                </li>
            </ul>
            <hr>
        </blockquote>
    </template>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>
</body>
</html>